//Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@300;700&display=swap');

// Variables
$yojijukugo-fontsize: 4rem;

.component {
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    overflow: hidden;
    background-image: url('../assets/backgrounds/01.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ccc;
}

.video {
    &__control {
        background-color: inherit;
        color: inherit;
    }
    .material-icons {
        font-size: 5vh;
        vertical-align: middle;
        &:hover {
            cursor: pointer;
        }
    }
}

.video_background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
}

.yojijukugo {
    background-color: rgba($color: #fff, $alpha: 0.6);
    font-family: 'Noto Serif JP', serif;
    margin: 0 auto;
    padding: 2vw;
    width: $yojijukugo-fontsize * 6;
    border-radius: 1vw;
    height: 100%;
    max-height: 300px;
    &__kanji {
        font-weight: bold;
        font-size: $yojijukugo-fontsize;
        text-align: center;
    }
    &__kana {
        font-size: $yojijukugo-fontsize / 2.5;
        text-align: center;
    }
    z-index: 2;
}

.stats {
    align-self: center;
    z-index: 2;
    // height: 8vh;
    // padding-bottom: 1vh;
    width: 100vw;
    background-color: rgba($color: #fff, $alpha: 0.45);
    color: rgba($color: #000, $alpha: 0.5);
    font-family: 'Noto Sans JP', sans-serif;
    text-align: right;
    font-size: $yojijukugo-fontsize / 2;
    > span {
        padding-right: 1.5vmax;
    }
}
